/* CSS PAGE ACCEUIL  */
body {
    font-family: 'klillregular';
    font-size: 16px;
	background-image: none;
}

h1 {
    font-size: 2em;
}

ul {
    list-style: none;
}

#logoSuggestionOeuvre {
    width: 190px;
    margin-top: 20%;
    margin-left: 50px;
	display: block;
}

.photoAccueilMobile{
	display: none;
}

.entete {
    margin: 20px;
}

.pas_accueil .entete{
	display: flex;
	flex-flow : row;
	align-content: space-between;
}


.photo {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.hoverPhoto{
	display: flex;
	flex-flow : row;
	justify-content: center;
}

/**CSS PAGE ACCUEIL**/
.ombreTop{
    width:100%;
    height: 100%;
    background-image: url("../images/degradeeNoir_petit_top.png");
    background-repeat: repeat-x;
    background-position: top; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#logo {
    margin-left: -40px;
	margin-top: 0px;
}

#lienLogo{
	width: 100%;
}

.burger{
	display: none;
}

.ligne_logo{
	width:100%;
	height: 11px;
	background-image: url("../images/ligne_logo.png");
	background-repeat: repeat-x;
    position: absolute;
    top: 54px;
    left: 0;
    z-index: -90;
}

.pas_accueil .image_gauche {
	width: 50%;
    position: absolute;
    top: 72px;
    left: -13px;
	display: block;
}

.ligne_noire{
	display: none;
}

.pas_accueil .image_droite {
	width: 50%;
    position: absolute;
    top: 55px;
    right: 0px;
	display: block;
}

.menu {
    width: 100%;
}

#menuPrincipal {
    margin-top: 15px;
	display: block;
}

.itemMenu,
.icones {
    display: inline;
}

.itemMenu a {
    font-size: 1.2em;
    margin-left: 10px;
    font-family: 'bang_whack_powregular';
    color: white;
    padding: 3px;
}

.cacheElem{
	display: none;
}

.pas_accueil .cacheElem{
	display: none;
}

.pas_accueil .itemMenu a {
    color: black;
	font-size: 1.2em;
}

.itemMenu a:hover,
.reseauxSociauxHeader .icones:hover {}

.reseauxSociauxHeader {
	display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}

.reseauxSociauxHeader ul {
    margin: 5px 20px;
}

.reseauxSociauxHeader .icones {
    font-size: 1.1em;
    margin-right: 5px;
    padding: 3px;
}

.reseauxSociauxHeader .icones a {
    color: #fff;
}

.ombreBottom{
    width:100%;
    height: 100%;
    background-image: url("../images/degradeeNoir_petit_bottom.png");
    background-repeat: repeat-x;
    background-position: bottom; 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.pas_accueil .reseauxSociauxHeader .icones a {
    color: #000;
}

/**FIN PAGE ACCUEIL**/
/**DÉBUT PAGE DES ARTISTES**/
#zoneDesArtistes,
#descriptionArtiste {
    width: 100%;
	margin-top: 0px;
}

#zoneDesArtistes{
	margin-left: 0px;
}

#zoneDesArtistes .titrePage {
    border-bottom: 2px solid black;
    margin: -10px 20px 20px 0;
}

/*http://www.webcis.com.br/dividir-texto-colunas-css3.html*/
#zoneDesArtistes ul {
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
}

#zoneDesArtistes ul h1 {
    margin-bottom: 15px;
    margin-top: 0px;
}

#zoneDesArtistes ul .titreABC {
    margin-top: 10px;
}

#zoneDesArtistes ul li,
#descriptionArtiste p {
    font-size: 1.2em;
}

#descriptionArtiste .btnRetourner{
	width: 25px;
	height: 15px;
}

.suggererOeuvre {
    float: left;
    position: absolute;
    bottom: -10px;
}
/**FIN PAGE DES ARTISTES**/
/**DÉBUT PAGE DE LA BIO D'UN ARTISTE**/

#infosMonArtiste {
    margin-top: 30px;
}

#descriptionArtiste{
	margin-left: 0px;
}

#descriptionArtiste h1,
.titrePagePropos {
    font-size: 2em;
    margin: -10px 20px 20px 0px;
}

.infosMonArtiste{
	display: flex;
	flex-flow: column;
}

#descriptionArtiste p {
    width: 50%;
    margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
}

#descriptionArtiste img {
    width: 30%;
    height: 30%;
	margin-left: 20px;
}
/**FIN PAGE DE LA BIO D'UN ARTISTE**/
/**DÉBUT PAGE À PROPOS**/
.pas_accueil .pageAPropos p {
    font-size: 1.2em;
    margin: 20px 0px 40px 0px;
}

.pageAPropos{
	margin: 0px 30px;
}

.pas_accueil .pageAPropos h1{
	font-size: 1.8em;
}
/**FIN PAGE À PROPOS**/
/**DÉBUT TEMPLATE GAUCHE**/

#labelRechercheSimple {
    font-family: 'bang_whack_powregular';
    font-size: 1.5em;
}

.rechercheSimple {
    margin-top: 5px;
    background-color: transparent;
    width: 250px;
    height: 30px;
    border: none;
    border-top: 2px solid black;
}

.pas_accueil #formRecherche {
    margin-left: 20px;
}

.pas_accueil #textRecherchez {
    color: black;
    letter-spacing: 1px;
    margin-left: 0px;
    font-size: 1.2em;
}

.pas_accueil .divChoixRecherche {
    font-size: 1em;
    margin-left: 105px;
    margin-top: -22px;
    letter-spacing: 1px;
    height: 22px;
    width: 65%;
}

.pas_accueil #listeChoixRecherche {
    margin-top: -2px;
}

.pas_accueil .elmChoixRecherche {
    color: black;
    font-size: 1.2em;
    white-space: nowrap;
}

.pas_accueil #inputRecherche {
    width: 250px;
    height: 30px;
    margin-left: 0px;
    border-bottom: 2px solid black;
    font-size: 1em;
    color: black;
}

.pas_accueil .sandwich .detailIcone{
	position: static;
}

.pas_accueil #faSearch {
    color: black;
    font-size: 1em;
    float: right;
    margin-top: 45px;
}

.pas_accueil #logoSuggestionOeuvre {
    margin-top: 300px;
}

.pas_accueil #resultatRecherche {
    border: none;
    top: 240px;
	right: inherit;
	width: 320px;
	margin-left: 20px;
	background-color: transparent;
	position: static;
}
/**FIN TEMPLATE GAUCHE**/
/**Debut LISTEOEUVRES**/
.collectionOeuvres{
	display: flex;
	flex-flow : row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 0px;
}

.uneOeuvreCollection{
	margin-top: 10px;
}

#collectionOeuvres .titrePage {
    border-bottom: 2px solid black;
    margin: -10px 20px 20px 0;
}

.pas_oeuvres {
    margin: 30x;
    padding: 30x;
}

.pas_Select {
    margin-right: 100x;
    padding: 300x;
    width: 250px;
    height: 50px;
}

.detailDuneOeuvre{
	margin-top: 30px;
	margin-left: 10px;
}

.pageUneOeuvre{
	margin-top: 30px;
	width: 75%;
}

.infosOeuvre{
	display: flex;
	width: 100%;
}

.infosOeuvre img{
	width: 90%;
	margin-bottom: 20px;
}
.texteInfosOeuvres{
	font-size: 1em;
}

/**FIN LISTEOEUVRES**/

/*------- CARTE -------*/
.touteLaCarte{
	width: 100%;
	margin-top: 0px;
}

.map{
	width: 100%;
}

#map {
    height: 600px;
    width: 420px
}

.touteLaCarte #map{
    height: 700px;
    width: 420px;
 
}

/**FOOTER***/
.reseauxSocFooter{
	display: none;
}